<div class="container">
  <div class="navbar">
    <img src="" />
    <p class="logoName">Barack Llama</p>

    <div class="needHelp">
      <p>Need help?</p>
      <button>Contact us</button>
    </div>
  </div>

  <!-- start of verify email modal -->
  <div class="verifyEmailModal">
    <div class="verifyEmailModalContent">
      <img src="" />
      <h2>Verify your email</h2>
      <p>
        We sent a message to <span id="email">useremail@hotmail.com</span> with
        a link to activate your account
      </p>
      <button id="resendEmailButton">Resend email</button>
    </div>
  </div>

  <!-- end of verify email modal -->
</div>
