<div class="container">
    <div class="navbar">
      <img src="" />
      <p class="logoName">Barack Llama</p>
  
      <div class="rememberPassword">
        <p>Remember Password?</p>
        <button routerLink="/signup">Login</button>
      </div>
    </div>
      <!-- email sent modal -->
  <div  class="emailSentModal">
    <div class="emailSentModalContent">
      <h2>Email Sent</h2>
      <p>
        We have sent an email to <span>samuelndambuki08@gmail.com</span> with
        password reset instructions
      </p>
    </div>
  </div>
  <!-- end of email sent modal -->
  </div>
  