<div class="whole-container">
    <div class="logo">
        <p>Barack <br>Llama</p>
    </div>
    <div class="button-click-container">
        <h2>Hello, Username!</h2>
        <p>Click here to send a verification email</p>
        <button>Verify e-mail</button>
    </div>
    <p style="margin-top: 1rem;">Any questions? visit our help center</p>
</div>

<div class="whole-container">
    <div class="logo">
        <p>Barack <br>Llama</p>
    </div>
    <div class="button-click-container">
        <h2>Hello, Username!</h2>
        <p>Click the button below to create your new password</p>
        <button>Reset password</button>
        
        <p>If you did not ask for a password reset, please ignore this e-mail. Your password will remain the same until you create a new one.</p>
    </div>
    <p style="margin-top: 1rem;">Any questions? visit our help center</p>
</div>