<div class="container">
  <!-- start of navigation bar -->
  <div class="navbar">
    <p id="logo">Logo</p>
    <div class="dashBoardAndCommunities">
      <p id="dashboardButton">Dashboard</p>
      <p id="myCommuntiesButton">My Communities</p>
    </div>
    <p><fa-icon id="faUserIcon" [icon]="faUser"></fa-icon></p>
  </div>
  <!-- end of navigation bar -->

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of second container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISITION</p>
      <p class="engagementText">ENGAGEMENT</p>
      <p>RETENTION</p>
      <p>CONTENT</p>
    </div>
  </div>
  <!-- end of second container -->

  <!-- start of third container -->
  <div class="thirdContainer">
    <div class="engagementActive">
      <div class="engagementRate">
        <p>Engagement Rate</p>
        <p>3,56%</p>
        <p id="engagementRatePercentage">+3,76% from last X days</p>
      </div>
      <div class="activeMembers">
        <p>Active Members</p>
        <p>2,43%</p>
        <p id="activeMembersPercentage">+3,76% from last X days</p>
      </div>
    </div>
    <div class="engagementRateGraph">
      <p>Engagement rate</p>
      <p>Active Members</p>
    </div>
  </div>
  <!-- end of third container -->

  <!-- start of fourth container -->
  <div class="fourthContainer">
    <div class="averageMessages">
      <p>Average Messages</p>
      <p>4</p>
      <p id="averageMessagesPercentage">+3,76% from last X days</p>
    </div>
    <div class="messagesExchanged">
      <p>MessagesExchanged</p>
      <p>35</p>
      <p id="messagesExchangedPercentage">-5,87% from last X days</p>
    </div>
    <div class="uniqueVisitors">
      <p>Unique Visitors</p>
      <p>356</p>
      <p id="uniqueVisitorsPercentage">-5,87% from last X days</p>
    </div>
  </div>
  <!-- end of fourth container -->

  <!-- start of fifth container -->
  <div class="fifthContainer">
    <div class="averageMessagesGraph">
      <p>Average Messages</p>
    </div>
    <div class="messagesExhangedGraph">
      <p>Messages Exchanged</p>
    </div>
    <div class="uniqueVisitorsGraph">
      <p>Unique Visitors</p>
    </div>
  </div>
  <!-- end of fifth container -->
</div>
