<div class="container">
  <!-- start of navigation bar -->
  <div class="navbar">
    <p id="logo">Logo</p>
    <div class="dashBoardAndCommunities">
      <p id="dashboardButton">Dashboard</p>
      <p id="myCommuntiesButton">My Communities</p>
    </div>
    <p><fa-icon id="faUserIcon" [icon]="faUser"></fa-icon></p>
  </div>
  <!-- end of navigation bar -->

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of second container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISITION</p>
      <p>ENGAGEMENT</p>
      <p>RETENTION</p>
      <p class="contentText">CONTENT</p>
    </div>
  </div>
  <!-- end of second container -->

  <!-- start of styling for third container -->
  <div class="thirdContainer">
    <div class="thirdContainerContent">
      <div class="firstDate">
        <p>Top 5 hottest topics with sentiment per day</p>
        <div class="date">
          <p>20/62023</p>
        </div>
        <div class="topics">
          <p>
            1. Discussion about Twitter threatening to sue Facebook owner Meta
            over new Threads platform - General feeling of relaxation
          </p>
          <p>
            1. Discussion about Twitter threatening to sue Facebook owner Meta
            over new Threads platform - General feeling of relaxation
          </p>
          <p>
            1. Discussion about Twitter threatening to sue Facebook owner Meta
            over new Threads platform - General feeling of relaxation
          </p>
          <p>
            1. Discussion about Twitter threatening to sue Facebook owner Meta
            over new Threads platform - General feeling of relaxation
          </p>
          <p>
            1. Discussion about Twitter threatening to sue Facebook owner Meta
            over new Threads platform - General feeling of relaxation
          </p>
        </div>
      </div>
      <div class="secondDate">
        <div class="date">
          <p>20/62023</p>
        </div>
      </div>
      <div class="thirdDate">
        <div class="date">
          <p>20/62023</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of styling for third container -->

  <!-- start of styling for fourth container -->
  <div class="fourthContainer">
    <div class="fourthContainerContent">
      <div class="firstDate">
        <p>All links sent per day</p>
        <div class="date">
          <p>20/62023</p>
        </div>
        <div class="links">
          <p>https://www.fiverr.com/inbox/lesandudesilva</p>
          <p>https://www.fiverr.com/inbox/lesandudesilva</p>
          <p>https://www.fiverr.com/inbox/lesandudesilva</p>
          <p>https://www.fiverr.com/inbox/lesandudesilva</p>
          <p>https://www.fiverr.com/inbox/lesandudesilva</p>
        </div>
      </div>
      <div class="secondDate">
        <div class="date">
          <p>20/62023</p>
        </div>
      </div>
      <div class="thirdDate">
        <div class="date">
          <p>20/62023</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of styling for fourth container -->
</div>
