<div class="body">
    <nav class="navbar">
        <div class="navbar-logo">
            <span>Logo</span>
            <ul class="navbar-menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Communities</a></li>
            </ul>
        </div>
        
        <div class="navbar-user">
            <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        </div>
    </nav>
</div>
<div  style="background-color: rgb(221, 220, 220); height: 100vh;">
    
    <div class="account-settings">
        <p>&lt;</p>  
        <p>Account Settings</p>  
    </div>
    <div class="container">
            <div class="side">
              <button>General</button>
              <button>Billing</button>
            </div>
            
              <div class="user-plan-info">
                  <div class="plan-cash">
                      <div class="status-plan">
                          <p style="font-weight: bold;">Free </p>
                          <p class="status">Active</p>
                      </div>
                      <div class="cash">
                          <p style=" font-size: 1rem;">$0 </p><p>per month</p>
                      </div>
      
                  </div>
                  <div class="plan-actions">
                    <button>
                        cancel
                    </button>
                    <button>upgrade</button>
                  </div>
                
              </div>
              <div class="plan-details">
                  <p style="font-weight: bold;">your <span style="color: brown;">free </span>plan includes</p>
                  <p>30 members</p>
                  <p>30 days analytics retention</p>
                  <p>0 PDF downloads</p>
              </div>
            </div>
    </div>
