<div class="body">
    <nav class="navbar">
        <div class="navbar-logo">
            <span>Logo</span>
            <ul class="navbar-menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Communities</a></li>
            </ul>
        </div>
        
        <div class="navbar-user">
            <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        </div>
    </nav>
</div>

<div class="container" >
    <h3>Add your first community</h3>
    <p>you need to add your community <br> to start getting its analytics</p>
    <button>add now</button>
</div>

