<div class="container">
  <div class="navbar">
    <img src="" />
    <p class="logoName">Barack Llama</p>

    <div class="needHelp">
      <p>Need help?</p>
      <button>Contact us</button>
    </div>
  </div>

  <!-- start resent email modal -->
  <div class="resentEmailModal">
    <div class="resentEmailModalContent">
      <h2>Email Sent</h2>
      <p>
        We have resent an email to <span>useremail@gmail.com</span> containing
        a link to verify your email address.
      </p>
    </div>
  </div>
  <!-- end of resent email modal -->
</div>
