<div class="container">
    <!-- start of navigation bar -->
    <div class="navbar">
      <p id="logo">Logo</p>
      <div class="dashBoardAndCommunities">
        <p id="dashboardButton">Dashboard</p>
        <p id="myCommuntiesButton">My Communities</p>
      </div>
      <p><fa-icon id="faUserIcon" [icon]="faUser"></fa-icon></p>
    </div>
  
    <!-- end of navigation bar -->

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of third container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISTION</p>
      <p>ENGAGEMENT</p>
      <p>RETENTION</p>
      <p>CONTENT</p>
    </div>

    <!-- start of analytics container -->
    <div class="analytics">
      <!-- start of total members analytics -->
      <div class="totalMembers">
        <p>Total Members</p>
        <h1>254</h1>
        <p id="percentage">+ 3,76% from last X days</p>
      </div>
      <!-- end of total members analytics -->

      <!-- start of engagemnent rate analytics -->
      <div class="engagementRate">
        <p>Engagement Rate</p>
        <h1>3</h1>
        <p id="percentage">-5,87% from last X days</p>
      </div>
      <!-- end of engagement rate analytics -->

      <!-- start of churn analytics -->
      <div class="churn">
        <h2>Churn</h2>
        <h2>No data</h2>
        <p>No data</p>
      </div>
      <!-- end of churn analytics -->
    </div>
    <!-- end of analytics container -->
  </div>
  <!-- end of third container -->
</div>
