<div class="container">
  <div class="navbar">
    <p>Logo</p>
    <div class="dashBoardAndCommunities">
      <button id="dashboardButton">Dashboard</button>
      <button id="myCommuntiesButton">My Communities</button>
    </div>
    <div class="profile">
      <img src="" />
    </div>
  </div>

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of third container -->
  <div class="second container">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISTION</p>
      <p>ENGAGEMENT</p>
      <p>RETENTION</p>
      <p>CONTENT</p>
    </div>

    <!-- start of analytics container -->
    <div class="analytics">
      <!-- start of total members analytics -->
      <div class="totalMembers">
        <h2>Total Members</h2>
        <p>254</p>
        <p>+ 3,76% from last X days</p>
      </div>
      <!-- end of total members analytics -->

      <!-- start of engagemnent rate analytics -->
      <div class="engagementRate">
        <h2>Engagement Rate</h2>
        <p>3</p>
        <p>-5,87% from last X days</p>
      </div>
      <!-- end of engagement rate analytics -->

      <!-- start of churn analytics -->
      <div class="churn">
        <h2>Churn</h2>
        <p>NO data</p>
        <p>No data</p>
      </div>
      <!-- end of churn analytics -->
    </div>
    <!-- end of analytics container -->
  </div>
  <!-- end of third container -->
</div>
