<div class="container">
  <!-- start of navigation bar -->
  <div class="navbar">
    <p id="logo">Logo</p>
    <div class="dashBoardAndCommunities">
      <p id="dashboardButton">Dashboard</p>
      <p id="myCommuntiesButton">My Communities</p>
    </div>
    <p><fa-icon id="faUserIcon" [icon]="faUser"></fa-icon></p>
  </div>

  <!-- end of navigation bar -->

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of second container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p class="acquisitionText">ACQUISITION</p>
      <p>ENGAGEMENT</p>
      <p>RETENTION</p>
      <p>CONTENT</p>
    </div>

    <!-- start of title analytics -->
    <div class="titleAnalytics">
      <div class="totalMembersTitle">
        <p>Total Members</p>
        <p>254</p>
        <p id="percentage">+3,76% from last X days</p>
      </div>

      <div class="newMembersTitle">
        <p>New Members</p>
        <p>35</p>
        <p id="newMemebrsPercentage">-5,87% from last X days</p>
      </div>

      <div class="averageAcquisitionTitle">
        <p>Average Acquistion</p>
        <p>12</p>
        <p id="averageAcquisitionPercentage">5,87% from last X days</p>
      </div>
    </div>
    <!-- end of title analytics -->

    <!-- start of analytics -->
    <div class="analytics">
      <div class="totalMembers">
        <p>Total Members</p>
      </div>
      <div class="newMembers">
        <p>New Members</p>
      </div>
      <div class="averageAcquisition">
        <p>Average Acquisition</p>
      </div>
    </div>
    <!-- end of anlytics -->
  </div>
  <!-- end of second container -->
</div>
