<div class="container">
  <!-- start of navigation bar -->
  <div class="navbar">
    <p>Logo</p>
    <div class="dashBoardAndCommunities">
      <button id="dashboardButton">Dashboard</button>
      <button id="myCommuntiesButton">My Communities</button>
    </div>
    <div class="profile">
      <img src="" />
    </div>
  </div>
  <!-- end of navigation bar -->

  <!-- start of first cntainer -->

  <div class="firstContainer">
    <!-- start of groupName -->
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My Groups</p>
      <p>Group Name</p>
    </div>
    <!-- end of groupName -->

    <div class="pdfAndCalendar">
      <p>PDF Download</p>
      <p>Calendar</p>
    </div>
  </div>

  <!-- end of first container -->

  <!-- start of second container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISITION</p>
      <p>ENGAGEMENT</p>
      <p>RETENTION</p>
      <p>CONTENT</p>
    </div>

    <!-- start of title analytics -->
    <div class="titleAnalytics">
      <div class="totalMembersTitle">
        <p>Total Members</p>
        <p>254</p>
        <p>+3,76% from last X days</p>
      </div>

      <div class="newMembersTitle">
        <p>New Members</p>
        <p>35</p>
        <p>-5,87% from last X days</p>
      </div>

      <div class="averageAcquisitionTitle">
        <p>Average Acquistion</p>
        <p>12</p>
        <p>5,87% from last X days</p>
      </div>
    </div>
    <!-- end of title analytics -->

    <!-- start of analytics -->
    <div class="analytics">
      <div class="totalMembers">
        <p>Total Members</p>
      </div>
      <div class="newMembers">
        <p>New Members</p>
      </div>
      <div class="averageAcquisition">
        <p>Average Acquisition</p>
      </div>
    </div>
    <!-- end of anlytics -->
  </div>
  <!-- end of second container -->
</div>
