<div class="container">
  <div class="navbar">
    <img src="" />
    <p class="logoName">Barack Llama</p>

    <div class="register">
      <p>Need an account?</p>
      <button routerLink="/signup">Register for free!</button>
    </div>
  </div>

  <!-- sign-in modal -->
  <div class="modal">
    <div class="modal-content">
      <h2 class="signInText">Sign In</h2>
      <div class="emailPasswordIncorrect">
        <p>Your email or password is incorrect, please try again.</p>
      </div>
      <br />
      <form>
        <label for="email" id="yourEmail">Your email:</label>
        <input
         name="email"
          type="email"
          id="email"
          placeholder="Type your e-mail"
          [(ngModel)]="email"
        />

        <label for="password" id="yourPassword">Your password:</label>
        <input
          type="password"
          id="password"
          placeholder="Your password here"
          [(ngModel)]="password"
        />

        <br />

        <!-- start of recapctha section for robot verification -->

        <form [formGroup]="aFormGroup">
          <ngx-recaptcha2
            #captchaElem
            [siteKey]="siteKey"
            formControlName="recaptcha"
          >
          </ngx-recaptcha2>
        </form>

        <!-- end of  Recapctha section for robot verification -->

        <br />

        <div class="form-actions">
          <button (click)="login()" id="loginButton">Log In</button>
          <br />
          <br />
          <p id="forgotPassword">Forgot Password</p>
        </div>
      </form>
    </div>
  </div>
  <!-- end of sign in modal -->
</div>
