<div class="container">
  <div class="topContents">
    <div class="navBar">
      <p id="back">Back</p>
      <p id="logo">Logo</p>
    </div>
    <div class="title">
      <p id="letsDoIt">Let's do it! What is your name?</p>
    </div>
  </div>
  <div class="yourNameModal">
    <div class="yourNameModalContent">
      <label for="name" id="yourName">Your Name</label>
      <input type="text" id="youNameInput" placeholder="Julia Almeida" />
      <!-- recapctha -->
      <!-- <p>
        I have read and agree with the <span class="terms">terms</span> and
        <span class="privacyPolicy">privacy policy</span>
      </p> -->
      <div class="checkboxActions">
        <label class="checkbox-container">
          <input type="checkbox" id="agreeCheckbox" />
          <span class="checkmark"></span>
        </label>
        <p>
          I have read and agree with the <span class="terms">terms</span> and
          <span class="privacyPolicy">privacy policy</span>
        </p>
      </div>
    </div>
    <div class="formactions">
      <button>Next</button>
      <p>Already have an account? <span class="underline">Log in</span></p>
    </div>
  </div>
</div>
