<div class="container">
  <!-- start of navigation bar -->
  <div class="navbar">
    <p id="logo">Logo</p>
    <div class="dashBoardAndCommunities">
      <p id="dashboardButton">Dashboard</p>
      <p id="myCommuntiesButton">My Communities</p>
    </div>
    <p><fa-icon id="faUserIcon" [icon]="faUser"></fa-icon></p>
  </div>
  <!-- end of navigation bar -->

  <!-- start of first container -->
  <div class="firstContainer">
    <div class="groupName">
      <h2>Group Name</h2>
      <p>My groups</p>
      <p>Group name</p>
    </div>
    <div class="pdfAndCalendar">
      <p>PDF download</p>
      <div class="calendar">
        <p>20, June 2023 - 29 June 2023</p>
      </div>
    </div>
  </div>
  <!-- end of first container -->

  <!-- start of second container -->
  <div class="secondContainer">
    <div class="navigation">
      <p>OVERVIEW</p>
      <p>ACQUISITION</p>
      <p>ENGAGEMENT</p>
      <p class="retentionText">RETENTION</p>
      <p>CONTENT</p>
    </div>
  </div>
  <!-- end of second container -->

  <!-- start of third container -->
  <div class="thirdContainer">
    <div class="thirdContainerContent">
      <div class="retentionChurn">
        <div class="retentionRate">
          <p>Retention Rate</p>
          <p>3,56%</p>
          <p id="retentionRatePercentage">+3,76% from last X days</p>
        </div>
        <div class="churnRate">
          <p>Churn</p>
          <p>2,43%</p>
          <p id="churnRatePercentage">+3,76% from last X days</p>
        </div>
      </div>
      <div class="retentionChurnGraph">
        <div class="retentionChurnGraphTitles">
          <p>Retention Rate</p>
          <p>Churn</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of third container -->

  <!-- start of styling of fourth container -->
  <div class="fourthContainer">
    <div class="fourthContainerContent">
      <div class="averageDays">
        <div class="averageLifetime">
          <p>Average Lifetime</p>
          <p>3,56%</p>
          <p id="averageLifetimePercentage">+3,76% from last X days</p>
        </div>
        <div class="leavingDays">
          <p>7 days leaving</p>
          <p>2,43%</p>
          <p id="leavingDaysPercentage">+3,76% from last X days</p>
        </div>
      </div>
      <div class="averageDaysGraph">
        <div class="averageDaysGraphTitles">
          <p>Average Lifetime</p>
          <p>7 days leaving</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end of styling of fourth container -->
</div>
