<div class="container">
  <div class="title">
    <div class="titleDetails">
      <p id="logo">Logo</p>
      <p id="details">User name, we need few details :)</p>
    </div>
  </div>

  <!-- start of your email modal content -->
  <div class="yourEmailmodal">
    <div class="yourEmailModalContent">
      <form>
        <label for="email" id="yourEmail">Your e-mail</label>
        <input type="text" id="yourEmailInput" placeholder="Type your e-mail" />
        <label for="password" id="yourPassword">Your password</label>
        <input
          type="password"
          id="yourPasswordInput"
          placeholder="Create a password with 6 characters or more"
        />
      </form>
    </div>
  </div>
  <!-- end your email modal content -->
  <div class="form-actions">
    <button id="startNowButton">Start now</button>
    <p>Already have an account? <span class="logIn">Log in</span></p>
  </div>
</div>
