<div class="container">
  <div class="navbar">
    <img src="" />
    <p class="logoName">Barack Llama</p>

    <div class="rememberPassword">
      <p>Remember Password?</p>
      <button routerLink="/signup">Login</button>
    </div>
  </div>

  <!-- start of change password modal -->
  <div class="changePasswordModal">
    <div class="changePasswordModalContent">
      <h2>Change Password</h2>
      <p id="enterNewPasswordText">
        Enter a new password to access your account.
      </p>
      <form>
        <label for="password" id="newPassword">New password</label>
        <input
          type="password"
          id="newPasswordInput"
          placeholder="Enter your new password"
        />

        <label for="password" id="confirmPassword">Confirm Password</label>
        <input
          type="password"
          id="confirmPasswordInput"
          placeholder="Enter your new password"
        />
        <br />
        <div class="form-actions">
          <button id="changePasswordButton">Change Password</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end of change password modal -->
</div>
