.container {
  background-color: #c28f56;
  height: 100vh;
  width: 100vw;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* apply margin-top to child elements within .navbar */
.navbar > * {
  margin-top: 5rem;
}

.logoName {
  font-weight: bold;
  font-size: 2rem;
  width: 80%;
  cursor: pointer;
  margin-left: 5rem;
}

.rememberPassword {
  display: flex;
  align-items: center;
}

.rememberPassword p {
  cursor: pointer;
  font-size: 1.3rem;
  width: 15vw;
}

.rememberPassword button {
  width: 6vw;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #c28f56;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 5rem;
}

/* hover effects to register button */
.rememberPassword button:hover {
  background-color: white;
  color: #c28f56;
}

/* changePasswordModal */
.changePasswordModal {
    width: 100vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.changePasswordModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 25vw;
    height: 50vh;
    margin: 0;
    gap: 1rem;
}

.changePasswordModalContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: .5rem;
  margin-top: 2rem;
}

#newPassword {
  font-weight: bold;
  display: inline-block;
  width: 120px;
  margin-right: 13rem;
  margin-bottom: 8px;
  cursor: pointer;
}

#newPasswordInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d9d9d9;
  padding: 0.5rem;
  border-radius: 5px;
  width: 18vw;
}

#confirmPassword {
  font-weight: bold;
  display: inline-block;
  width: 150px;
  margin-right: 11rem;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 0.5rem;
}

#confirmPasswordInput {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d9d9d9;
  padding: 0.5rem;
  border-radius: 5px;
  width: 18vw;
}

#changePasswordButton {
  width: 20vw;
  padding: 0.8rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #c28f56;
  color: white;
  cursor: pointer;
}

#enterNewPasswordText {
  color: grey;
}

/* end of change password modal */
