<div class="container">
  <div class="navbar">
    <img src="" />
    <p class="logoName">Barack Llama</p>

    <div class="rememberPassword">
      <p>Remember Password?</p>
      <button routerLink="/signup">Login</button>
    </div>
  </div>

  <!-- forgotPassword Modal -->
  <div class="forgotPasswordmodal">
    <div class="forgotPasswordModalcontent">
      <h2 class="forgotPasswordText">Forgot Password?</h2>
      <p id="emailwithInstructions">
        Don't worry we will email you instructions for resetting your password.
      </p>

      <br />
      <form>
        <label for="email" id="accountEmail">Account email:</label>
        <input
          type="email"
          id="email"
          placeholder="What is the account email"
          [(ngModel)]="email"
        />

        <br />

        <!-- recapctha section for robot verification -->

        <!-- Recapctha section for robot verification -->
        <!-- <ng-recaptcha
              [siteKey]="reCaptchaSiteKey"
              (resolved)="handleCaptchaResolved($event)"
            ></ng-recaptcha> -->

        <div class="form-actions">
          <button id="resetPasswordButton">Reset Password</button>
          <br />
          <br />
        </div>

      </form>
    </div>
  </div>
  <!-- end of forgot password modal -->
</div>
