<div class="body">
    <nav class="navbar">
        <div class="navbar-logo">
            <span>Logo</span>
            <ul class="navbar-menu">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">My Communities</a></li>
            </ul>
        </div>
        
        <div class="navbar-user">
            <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
        </div>
    </nav>
</div>
<div class="dashboard-cover">
<div class="dashboard-details">
  <span>Dashboard</span>
  <div class="drop-down-holder">
    <img src="" alt="icon">
    <div>
        <p class="tiny-text">you are in:</p>
        <div class="community-name">
            <p>Community Name</p>
            <p>+</p>
        </div>
        
    </div>
  </div>
</div>
</div>

<div class="free-trial-banner">
    <div>
        <p>Welcome to appname. Your free trial will expire in x days. <span>see plans and sign up</span> </p>

    </div>
</div>

<div class="three-cards">
   <div class="card">
    <div class="card-title">
        <p>Community members</p>
        <p>:></p>
    </div>
    <p>300</p>
   </div>
   <div class="card">
    <div class="card-title">
        <p>PDFs Downloaded</p>
        <p>:></p>
    </div>
    <p>13</p>
   </div>
   <div class="card">
    <div class="card-title">
        <p>Current Plan</p>
        <p>:></p>
    </div>
    <p>Free</p>
   </div>
</div>

<div class="free-trial-limit-banner">
    <div>
        
        <p>Your community reached the members limit. We will automatically upgrade your plan in 72hr </p>

    </div>
</div>